<h1 xmlns="http://www.w3.org/1999/html">Cadastro de Jogadores</h1>

<label [matBadge]="jogadores.length" matBadgeOverlap="false">Jogadores</label>
<br>

<mat-form-field class="selection">
  Nome: <input matInput [(ngModel)]="jogador.nome" placeholder="Digite seu nome">
</mat-form-field>

<div class="selection container">
  Nivel:
<mat-selection-list [(ngModel)]="jogador.nivel" multiple="false" class="selection">
  <mat-list-option *ngFor="let nivel of niveis" [value]="nivel" class="option">
    {{nivel}}
  </mat-list-option>
</mat-selection-list>

  Posicão:
<mat-selection-list [(ngModel)]="jogador.posicao" multiple="false" class="selection">
  <mat-list-option *ngFor="let posicao of posicoes" [value]="posicao" class="option">
    {{posicao}}
  </mat-list-option>
</mat-selection-list>
</div>




<!--<mat-form-field>
  Posição: <input matInput [(ngModel)]="jogador.posicao" placeholder="atacante/meia/defensor/goleiro">
</mat-form-field>-->
<br>
<button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar</button>

<br>


<br>

<mat-card class="example-card" *ngFor="let jogador of jogadores">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{jogador.nome | titlecase}}</mat-card-title>
    <mat-card-subtitle>{{jogador.posicao}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="getImageUrl(jogador.posicao)" alt="jogador">
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>

  <mat-card-actions>
    <div *ngIf="!editMode">
    <button mat-icon-button (click)="remover(jogador)">
      <mat-icon>delete</mat-icon>
    </button>
    </div>
    <div *ngIf="!editMode">
      <button mat-icon-button (click)="editar(jogador)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div *ngIf="editMode">
      <mat-form-field>
        Nome: <input matInput [(ngModel)]="jogadorEmEdicao.nome" placeholder="Digite seu nome">
      </mat-form-field>

      <mat-form-field>
        Nivel: <input matInput [(ngModel)]="jogadorEmEdicao.nivel" placeholder="1 a 5">
      </mat-form-field>

      <mat-form-field>
        Posição: <input matInput [(ngModel)]="jogadorEmEdicao.posicao" placeholder="atacante/meia/defensor/goleiro">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="salvarEdicao()">Salvar</button>
      <button mat-raised-button (click)="cancelarEdicao()">Cancelar</button>
    </div>
  </mat-card-actions>
</mat-card>


